# Allgemein
.DS_Store
Thumbs.db
*.log
.env
.env.*

# Backend (Sinatra)
backend/tmp/
backend/.byebug_history
backend/vendor/
backend/.bundle/
backend/*.sqlite3
backend/*.sqlite3-journal

# Docker
.docker-sync/

# NPM
npm-data/
npm-letsencrypt/
