<!-- layout.erb -->
<head>
  <link rel="icon" type="image/png" href="/css/icon.png">
</head>
<body>
  <% if admin? %>
    <%= erb :admin_nav, layout: false %>
  <% else %>
    <%= erb :user_nav,  layout: false %>
  <% end %>
  <div class="main-content"><%= yield %></div>
</body>
