<!-- layout.erb -->
<body>
  <% if @use_admin_nav %>
    <%= erb :admin_nav, layout: false %>
  <% else %>
    <%= erb :user_nav,  layout: false %>
  <% end %>
  <div class="main-content"><%= yield %></div>
</body>