
<h2>My License</h2>
<p>Here is a list of all your active licenses:</p>

<div class="info-block">
  <p><strong>product 1:</strong> License Key XXXX-XXXX-XXXX-XXXX-XXXX</p>
  <p><strong>product 2:</strong> License Key XXXX-XXXX-XXXX-XXXX-XXXX</p>
</div>
