<%# views/profile.erb %>
<h1>User Information</h1>
<div class="info-block">
  <p>Username: User1 
    <span class="edit-icon">✎</span>
  </p>
  <p>Password: ******** 
    <span class="edit-icon">✎</span>
  </p>
</div>
