/* public/css/layout.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;   
}

/* Sidebar-Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background-color: #000000e7;
  color: #fff;
  transition: width 0.3s;
}
.sidebar-header {
  display: flex;
  align-items: center;
  padding: 15px;
  background-color: #000000e7;
  font-size: 1.2em;
  margin-left: 0px;
}
.sidebar-header span {
  margin-right: 10px;
  cursor: pointer;
}
.sidebar-header h2 {
  margin: 0;
  font-size: 1.1em;
  margin-left: 40px;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li a {
  display: block;
  padding: 12px 15px;
  color: #ccc;
  text-decoration: none;
  border-bottom: 1px solid #3f3f58;
}
nav ul li a:hover {
  background-color: #45456c;
  color: #fff;
}

/* main content */
.main-content {
  margin-left: 220px;
  padding: 20px;
  transition: margin-left 0.1s;
}

.sidebar .logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: left;
}

.logout-button {
  font-size: 13px;
  padding: 12px 15px;
  min-width: 75px;
  background-color: #0000005d;
  color: #ffffff;
  border: 1px solid #0000005d;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
}

.logout-button:hover {
  background-color: #83000054;
}

.toggle-sidebar {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 1000;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
}

.sidebar.collapsed {
  width: 0;
  overflow: hidden;
}
