<%# views/auth/partials/_forgot_password_footer.erb %>
<div class="card-footer text-center py-3 bg-white rounded-bottom-3">
  <div class="small">
    Remembered your password? <a href="/login" class="text-decoration-none fw-bold text-primary">Login here</a>
  </div>
</div>
