<%# views/auth/partials/_login_footer.erb %>
<div class="card-footer text-center py-3 bg-white rounded-bottom-3">
  <div class="small">
    Don't have an account? <a href="/register" class="text-decoration-none fw-bold text-primary">Register here</a>
  </div>
</div>
